<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">

  <h3>Cash Flow Report</h3>
  <br/>

  <form name="requestParameters" th:action="@{/admin/reports/cashflow}" method="post">

    <div class="form-group">
      <div class="col-sm-2">
        <label for="selectedServiceField">Service: </label>
      </div>
      <div class="col-sm-10">
        <select id="selectedServiceField" th:field="${selectedService.id}" class="form-control">
          <option selected="selected" th:value="${selectedService.id}" th:text="${selectedService.name}"></option>
          <option value="0" th:if="${selectedService.id != 0}">All services</option>
          <option th:each="service : ${services}"
                  th:value="${service.id}"
                  th:if="${selectedService.id != service.id}"
                  th:text="${service.name}">
          </option>
        </select><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <label for="beginDateField">Begin date: </label>
      </div>
      <div class="col-sm-10">
        <input id="beginDateField" type="date" name="beginDate" class="form-control"
               th:value="${beginDate}"/><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <label for="endDateField">End date: </label>
      </div>
      <div class="col-sm-10">
        <input id="endDateField" type="date" name="endDate" class="form-control"
               th:value="${endDate}"/><br/>
      </div>
    </div>
    <div class="btn-group col-sm-10" role="group">
      <br/>
      <button type="submit" class="btn btn-primary">Make report</button>
    </div>
  </form>

  <div class="col-md-12">
    <div class="col-md-6" th:if="${cashInflowReport != null}">
      <h3>Inflow</h3>
      <table data-toggle="table" data-class="table table-striped table-hover"
             data-side-pagination="client">
        <thead>
        <tr>
          <th>Date</th>
          <th>Service</th>
          <th>Payment</th>
          <th>Amount</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cashInflow : ${cashInflowReport}">
          <td>
            <p th:text="${cashInflow.paymentDate}"></p>
          </td>
          <td>
            <p th:text="${cashInflow.paidService}"></p>
          </td>
          <td>
            <p th:text="${cashInflow.paymentId}"></p>
          </td>
          <td>
            <p th:text="${cashInflow.paymentSum.amount}"></p>
          </td>
          <td>
            <p th:text="${cashInflow.paymentSum.currency}"></p>
          </td>
        </tr>
        <tr>
          <td th:text="TOTAL" colspan="5"></td>
        </tr>
        <tr th:each="totalCashInflow : ${totalsCashInflow}">
          <td colspan="3"></td>
          <td>
            <p th:text="${totalCashInflow.value}"></p>
          </td>
          <td>
            <p th:text="${totalCashInflow.key}"></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6" th:if="${cashOutflowReport != null}">
      <h3>Outflow</h3>
      <table data-toggle="table" data-class="table table-striped table-hover"
             data-side-pagination="client">
        <thead>
        <tr>
          <th>Date</th>
          <th>Salary</th>
          <th>Amount</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cashOutflow : ${cashOutflowReport}">
          <td>
            <p th:text="${cashOutflow.salaryDate}"></p>
          </td>
          <td>
            <p th:text="${cashOutflow.salaryId}"> </p>
          </td>
          <td>
            <p th:text="${cashOutflow.salarySum.amount}"></p>
          </td>
          <td>
            <p th:text="${cashOutflow.salarySum.currency}"></p>
          </td>
        </tr>
        <tr>
          <td th:text="TOTAL" colspan="5"></td>
        </tr>
        <tr th:each="totalCashOutflow : ${totalsCashOutflow}">
          <td colspan="2"></td>
          <td>
            <p th:text="${totalCashOutflow.value}"></p>
          </td>
          <td>
            <p th:text="${totalCashOutflow.key}"></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12" th:if="${cashInflowReport != null} or ${cashOutflowReport != null}">
      <h3>Balance (inflow - outflow)</h3>
      <table data-toggle="table">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="totalCashInflow : ${totalsCashInflow}" th:if="${totalsCashInflow.size() != 0} and ${totalsCashOutflow.size() != 0}">
          <td>
            <p th:text="${totalCashInflow.value - totalsCashOutflow[T(ua.com.foxminded.accountingsystem.model.Currency).UAH]}"
               th:if="${totalCashInflow.key == (T(ua.com.foxminded.accountingsystem.model.Currency).UAH)}"></p>
            <p th:text="${totalCashInflow.value}"
               th:if="${totalCashInflow.key != (T(ua.com.foxminded.accountingsystem.model.Currency).UAH)}"></p>
          </td>
          <td>
            <p th:text="${totalCashInflow.key}"></p>
          </td>
        </tr>
        <tr th:each="totalCashInflow : ${totalsCashInflow}" th:if="${totalsCashInflow.size() != 0} and ${totalsCashOutflow.size() == 0}">
          <td>
            <p th:text="${totalCashInflow.value}"></p>
          </td>
          <td>
            <p th:text="${totalCashInflow.key}"></p>
          </td>
        </tr>
        <tr th:each="totalCashOutflow : ${totalsCashOutflow}" th:if="${totalsCashInflow.size() == 0} and ${totalsCashOutflow.size() != 0}">
          <td>
            <p th:text="${-totalCashOutflow.value}"></p>
          </td>
          <td>
            <p th:text="${totalCashOutflow.key}"></p>
          </td>
        </tr>
        </tbody>
      </table>
      <br/>
    </div>
  </div>

</section>
</body>
</html>
