<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">
        <h3>Cash Flow Report</h3>

  <div class="col-md-6">
    <h3>Inflow</h3>
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-side-pagination="client" data-show-refresh="true">
          <thead>
          <tr>
            <th>Document date</th>
            <th>Document type</th>
            <th>Document</th>
            <th>Amount</th>
            <th>Currency</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cashInflow : ${cashInflowReport}">
            <td>
              <p th:text="${cashInflow.documentDate}"></p>
            </td>
            <td>
              <p th:text="PAYMENT"></p>
            </td>
            <td>
              <p th:text="${cashInflow.documentId}"> </p>
            </td>
            <td>
              <p th:text="${cashInflow.amount.amount}"></p>
            </td>
            <td>
              <p th:text="${cashInflow.amount.currency}"></p>
            </td>
          </tr>
          </tbody>
        </table>
  </div>

  <div class="col-md-6">
    <h3>Outflow</h3>
    <table data-toggle="table" data-class="table table-striped table-hover"
           data-pagination="true" data-side-pagination="client" data-show-refresh="true">
      <thead>
      <tr>
        <th>Document date</th>
        <th>Document type</th>
        <th>Document</th>
        <th>Amount</th>
        <th>Currency</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cashOutflow : ${cashOutflowReport}">
        <td>
          <p th:text="${cashOutflow.documentDate}"></p>
        </td>
        <td>
          <p th:text="SALARY"></p>
        </td>
        <td>
          <p th:text="${cashOutflow.documentId}"> </p>
        </td>
        <td>
          <p th:text="${cashOutflow.amount.amount}"></p>
        </td>
        <td>
          <p th:text="${cashOutflow.amount.currency}"></p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>
