<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">

  <h3>Cash Flow Report</h3>
  <br/>

  <form name="requestParameters" th:action="@{/admin/cashflowreport}" method="get">

    <div class="form-group">
      <div class="col-sm-2">
        <label for="serviceIdField">Service: </label>
      </div>
      <div class="col-sm-10">
        <select id="serviceIdField" name="serviceId" class="form-control">
          <option selected="selected" th:value="${serviceId}" th:text="${serviceName}"></option>
          <option value="" th:if="${serviceId != null}">All services</option>
          <option th:each="service : ${services}"
                  th:value="${service.id}"
                  th:if="${serviceId != service.id}"
                  th:text="${service.name}"></option>
        </select><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <label for="beginDateField">Begin date: </label>
      </div>
      <div class="col-sm-10">
        <input id="beginDateField" type="date" name="beginDate" class="form-control"
               th:value="${beginDate}"/><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <label for="endDateField">End date: </label>
      </div>
      <div class="col-sm-10">
        <input id="endDateField" type="date" name="endDate" class="form-control"
               th:value="${endDate}"/><br/>
      </div>
    </div>
    <div class="btn-group col-sm-10" role="group">
      <br/>
      <button type="submit" class="btn btn-primary">Make report</button>
    </div>
  </form>

  <div class="col-md-12">
  <div class="col-md-6" th:if="${cashInflowReport != null}">
    <h3>Inflow</h3>
    <table data-toggle="table" data-class="table table-striped table-hover"
           data-side-pagination="client">
      <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Payment</th>
        <th>Currency</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cashInflow : ${cashInflowReport}">
        <td>
          <p th:text="${cashInflow.flowDate}"></p>
        </td>
        <td>
          <p th:text="${cashInflow.flowType}"></p>
        </td>
        <td>
          <p th:text="${cashInflow.flowId}"></p>
        </td>
        <td>
          <p th:text="${cashInflow.flowSum.currency}"></p>
        </td>
        <td>
          <p th:text="${cashInflow.flowSum.amount}"></p>
        </td>
      </tr>
      <tr>
        <td th:text="TOTAL" colspan="5"></td>
      </tr>
        <tr th:each="totalCashInflow : ${totalsCashInflow}">
          <td colspan="3"></td>
          <td>
            <p th:text="${totalCashInflow.key}"></p>
          </td>
          <td>
            <p th:text="${totalCashInflow.value}"></p>
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>

  <div class="col-md-6" th:if="${cashOutflowReport != null}">
    <h3>Outflow</h3>
    <table data-toggle="table" data-class="table table-striped table-hover"
           data-side-pagination="client">
      <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Salary</th>
        <th>Currency</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cashOutflow : ${cashOutflowReport}">
        <td>
          <p th:text="${cashOutflow.flowDate}"></p>
        </td>
        <td>
          <p th:text="${cashOutflow.flowType}"></p>
        </td>
        <td>
          <p th:text="${cashOutflow.flowId}"> </p>
        </td>
        <td>
          <p th:text="${cashOutflow.flowSum.currency}"></p>
        </td>
        <td>
          <p th:text="${cashOutflow.flowSum.amount}"></p>
        </td>
      </tr>
      <tr>
        <td th:text="TOTAL" colspan="5"></td>
      </tr>
      <tr th:each="totalCashOutflow : ${totalsCashOutflow}">
        <td colspan="3"></td>
        <td>
          <p th:text="${totalCashOutflow.key}"></p>
        </td>
        <td>
          <p th:text="${totalCashOutflow.value}"></p>
        </td>
      </tr>
      </tbody>
    </table>
    <br/>
  </div>
  </div>
</section>
</body>
</html>
