<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag"/>
</head>
<body>
<section layout:fragment="content">
  <!--/*@thymesVar id="client" type="ua.com.foxminded.accountingsystem.model.Client"*/-->
  <div class="row" style="padding-bottom: 15px">
    <div class="col-md-6" style="padding-bottom: 15px">
      <div class="row">
        <div class="col-md-12">
          <form id="saveClient" class="form-horizontal" th:object="${client}"
                th:action="@{/admin/clients/{id}(id=${client.id})}" th:method="put">
            <input type="hidden" th:field="${client.deals}"/>

            <div class="form-group">
              <input type="hidden" th:value="${client.id}" id="id"/>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <label for="firstName">First name : </label>
              </div>
              <div class="col-md-9 col-sm-9">
                <input th:field="*{firstName}" th:value="${client.firstName}" name="firstName" id="firstName"
                       type="text" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <label for="lastName">Last name : </label>
              </div>
              <div class="col-md-9 col-sm-9">
                <input th:field="*{lastName}" th:value="${client.lastName}" name="lastName" id="lastName" type="text"
                       class="form-control"/>
              </div>
            </div>
            <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />
            <div class="form-group" name="extraFields" th:each="extraField, iterItem : *{extraFields}">
              <input type="hidden" th:field="*{extraFields[__${iterItem.index}__].id}"/>
              <input type="hidden" th:field="*{extraFields[__${iterItem.index}__].client}"/>
              <input type="hidden" th:field="*{extraFields[__${iterItem.index}__].clientField}"/>
              <input type="hidden" th:field="*{extraFields[__${iterItem.index}__].clientField.id}"/>
              <div class="col-md-3 col-sm-3">
                <label th:text="${extraField.clientField.name}"></label>
              </div>
              <div class="col-md-9 col-sm-9">
                <input th:field="*{extraFields[__${iterItem.index}__].value}" th:value="${extraField.value}"
                       name="value" type="text" class="form-control"/>
              </div>
            </div>
          </form>
          <form id="deleteClient" class="form-horizontal" th:action="@{/admin/clients/{id}(id=${client.id})}"
                th:method="delete">
          </form>
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="btn-group col-md-4 col-sm-4 col-xs-3" role="group" style="padding: 0">
              <button type="submit" class="btn btn-danger btn" onclick="$('#deleteClient').submit()">Delete</button>
            </div>
            <div class="pull-right col-md-8 col-sm-8 col-xs-9" style="padding: 0">
              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                  <a th:href="@{/admin/clients}" class="btn btn-default">Go back</a>
                </div>
                <div class="btn-group" role="group">
                  <a th:href="@{/admin/deals/create?clientId={id} (id=${client.id})}" class="btn btn-primary">New Deal</a>
                </div>
                <div class="btn-group" role="group">
                  <button type="submit" class="btn btn-primary" onclick="$('#saveClient').submit()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div th:if="${transferError != null}" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${transferError}">Transfer Error</span>
      </div>
      <label>Balance:</label>
      <table data-toggle="table">
        <thead>
        <tr>
          <th>Currency</th>
          <th>Amount</th>
          <th>Withdraw</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="money : ${client.personalAccount != null} ? ${client.personalAccount.money}">
          <td data-valign="middle" class="col-xs-2" th:text="${money.currency}"></td>
          <td data-valign="middle" th:text="${money.amount}"></td>
          <td data-valign="middle">
            <button class="btn btn-warning btn-sm"
                    th:onclick="'withdraw(\'' + ${money.currency}  + '\');'">

              Withdraw
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <br/>
      <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#depositModal">Add Funds</button>
    </div>
  </div>
  <form th:object="${clientDeals}">
    <div class="display-grid">
      <label>Deals:</label>
      <table data-toggle="table">
        <thead>
        <tr>
          <th data-halign="center" data-align="center">Id</th>
          <th data-halign="center" data-align="left">Consultancy</th>
          <th data-halign="center" data-align="center">Deal status</th>
          <th data-halign="center" data-align="center">Open date</th>
          <th data-halign="center" data-align="center">Mentor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : ${clientDeals}">
          <td>
            <a th:href="@{/admin/deals/{id}(id=${deal.dealId})}">
              <p th:text="${deal.dealId}"></p>
            </a>
          </td>
          <!--/*@thymesVar id="deal" type="ua.com.foxminded.accountingsystem.model.Deal"*/-->
          <td th:text="${deal.consultancyName}"></td>
          <td th:text="${deal.dealStatus}"></td>
          <td th:text="${deal.dealOpenDate != null} ? ${#temporals.format(deal.dealOpenDate, 'dd-MMM-yyyy')} : ''"></td>
          <td>
            <a th:if="${deal.employeeId != null}" th:href="@{/admin/employees/{id}(id=${deal.employeeId})}">
              <p th:text="${deal.employeeFirstName} + ' ' +${deal.employeeLastName}"></p>
            </a>
            <p th:if="${deal.employeeId == null}" th:text="----"></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>

  <br/>
  <br/>
  <br/>

  <!-- Modal -->
  <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Make withdraw</h4>
        </div>
        <div class="modal-body">
          <form id="withdrawForm" th:action="@{/admin/clients/withdraw}" method="post">
            <div class="form-group">
              <input type="hidden" name="money.currency" id="currencyMoneyModal"/>
            </div>
            <div class="form-group">
              <input type="number" name="money.amount" id="amountMoneyModal" class="form-control"
                     placeholder="Withdraw amount" value="0" th:required="required"/>
            </div>
            <div class="form-group">
              <textarea id="descriptionModal" name="description" class="form-control"
                     placeholder="Description of withdraw" th:required="required" rows="2"/>
            </div>
            <div class="form-group">
              <input type="hidden" id="transferTypeModal" name="transferType" th:value="${T(ua.com.foxminded.accountingsystem.model.TransferType).OUTCOME}"/>
            </div>
            <div class="form-group">
              <input type="hidden" id="accountIdModal" name="personalAccount.id" th:value="${client.personalAccount.id}"/>
            </div>
            <div class="form-group">
              <input type="hidden" id="clientModal" name="clientId" th:value="${client.id}"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button submit" class="btn btn-primary" form="withdrawForm">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add Funds-->
  <div id="fixed-table-toolbar--buttons-client" class="pull-right search">
  <div class="modal fade" id="depositModal" role="dialog" aria-labelledby="depositModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="depositModalLabel">Deposit</h4>
        </div>
        <div class="modal-body">
            <form id="depositForm" th:action="@{/admin/clients/deposit}" method="post" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-8">
                  <input type="number" name="money.amount" class="form-control"
                         placeholder="Deposit amount" value="0" th:required="required"/>
                </div>
                <div class="col-sm-4">
                  <select name="money.currency" class="form-control" th:required="required">
                    <option th:each="currencyTypeValue : ${T(ua.com.foxminded.accountingsystem.model.Currency).values()}"
                            th:value="${currencyTypeValue}"
                            th:text="${currencyTypeValue}"/>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                <textarea id="depositDescriptionModal" name="description" class="form-control"
                          placeholder="Description of deposit" th:required="required" rows="2"/>
                </div>
              </div>
              <input type="hidden" id="depositTransferTypeModal" name="transferType" th:value="${T(ua.com.foxminded.accountingsystem.model.TransferType).INCOME}"/>
              <input type="hidden" id="depositAccountIdModal" name="personalAccount.id" th:value="${client.personalAccount.id}"/>
              <input type="hidden" id="depositClientModal" name="clientId" th:value="${client.id}"/>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button submit" class="btn btn-primary" form="depositForm">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script th:inline="javascript">
    /*<![CDATA[*/
    function withdraw(currency){

      $('#currencyMoneyModal').val(currency);
      $('#withdrawModal').modal('show');
    }
    /*]]>*/
  </script>
</section>
</body>
</html>
