<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag"/>
</head>
<body>
<section layout:fragment="content">
  <div id="fixed-table-toolbar--buttons" class="pull-left search">
    <a th:href="@{/admin/consultancies/new}" class="btn btn-primary">New consultancy</a>
  </div>

  <table data-toggle="table" data-class="table table-striped table-hover" data-pagination="true"
         data-side-pagination="client" data-search="true" data-show-refresh="true" data-sort-name="id">
    <thead>
    <tr>
      <th data-field="id" data-halign="center" data-align="center" data-formatter="consultanciesIdLinkFormatter" data-sortable="true" class="col-xs-1">Id</th>
      <th data-halign="center" data-align="left" data-sortable="true" data-sorter="nameSorter">Name</th>
      <th data-halign="center" data-align="left">Description</th>
      <th data-halign="center" data-align="left" class="col-xs-1">Employee rate</th>
      <th data-halign="center" data-align="left" class="col-xs-1">Prices</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <!--/*@thymesVar id="consultancy" type="ua.com.foxminded.accountingsystem.model.Consultancy"*/-->
    <!--/*@thymesVar id="consultancies" type="java.util.List"*/-->
    <tr th:each="consultancy : ${consultancies}">
      <td th:text="${consultancy.id}"></td>
      <td>
        <a th:text="${consultancy.name}" th:href="@{/admin/consultancies/{id}(id=${consultancy.id})}"></a>
      </td>
      <td th:text="${consultancy.description}"></td>
      <td th:text="${consultancy.employeeRate.amount} + ' ' + ${consultancy.employeeRate.currency}"></td>
      <td>
        <table>
          <tr th:each="money : ${consultancy.prices}">
            <td th:text="${money.amount} + ' ' + ${money.currency}"></td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
