<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10" style="display: grid;">
        <a th:href="@{/admin/contracts/newContract}" class="btn btn-primary" >new contract</a>
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-search="true" data-query-params="queryParams">
          <thead>
          <tr>
            <th>#</th>
            <th>Contract</th>
            <th>Contract date</th>
            <th>Payment type</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="contract : ${contracts}">
            <td th:text="${contractStat.count}"></td>
            <td>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">Contract</a>
            </td>
            <td th:text="${contract.contractDate}"></td>
            <td th:text="${contract.paymentType}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


</body>
</html>
