<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
</head>
<body>
<section layout:fragment="content">
  <!--/*@thymesVar id="contract" type="ua.com.foxminded.accountingsystem.model.Contract"*/-->
  <div class="row">
    <div class="col-md-6">
      <form id="saveContract" class="form-horizontal" th:action="@{/admin/contracts}" th:object="${contract}"
            method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{order}"/>
        <input type="hidden" th:field="*{employeeRate.id}"/>
        <input type="hidden" th:field="*{employeeRate.currency}"/>
        <div class="form-group">
          <div class="col-sm-3">
            <label for="order-link">Order:</label>
          </div>
          <div class="col-sm-9">
            <a id="order-link" th:href="@{/admin/orders/{id}(id=${contract.order.id})}"
               th:text="${contract.order.service.name} + ' from ' + ${contract.order.openDate}"></a>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('contractDate')}">Contract Date:</label>
          </div>
          <div class="col-sm-9">
            <input type="date" th:field="*{contractDate}" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('paymentType')}">Payment type:</label>
          </div>
          <div class="col-sm-9">
            <select th:field="*{paymentType}" class="form-control" onchange="schedule(this.value)">
              <option id="paymentType" value="">Select payment type</option>
              <option th:each="paymentTypeValue : ${T(ua.com.foxminded.accountingsystem.model.PaymentType).values()}"
                      th:value="${paymentTypeValue}"
                      th:text="${paymentTypeValue}"/>
            </select>
            <output th:if="${#fields.hasErrors('paymentType')}" th:errors="*{paymentType}" class="text-danger">Payment
              Type
              Error
            </output>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('paymentDate')}">Payment date:</label>
          </div>
          <div class="col-sm-9">
            <input id="paymentDay" type="date" th:field="*{paymentDate}" value="" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('price')}">Price:</label>
          </div>
          <div class="col-sm-9">
            <div class="col-xs-8" style="padding-left: 0">
              <input th:value="*{price.amount > 0} ? *{price.amount}"
                     th:id="*{'price.amount'}" th:name="*{'price.amount'}"
                     type="number" class="form-control" required="required" min="0" max="2147483647"/>
              <input type="hidden" th:field="*{price.id}"/>
            </div>
            <div class="col-xs-4" style="padding: 0">
              <select th:field="*{price.currency}" class="form-control">
                <option th:each="currencyTypeValue : ${T(ua.com.foxminded.accountingsystem.model.Currency).values()}"
                        th:value="${currencyTypeValue}"
                        th:text="${currencyTypeValue}"/>
              </select>
            </div>
            <output th:if="${#fields.hasErrors('price')}" th:errors="${contract.price}" class="text-danger">Price
              Error
            </output>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('employee')}">Employee:</label>
          </div>
          <div class="col-sm-9">
            <!--/*@thymesVar id="employee" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
            <select th:field="*{employee}" class="form-control">
              <option value="">Select Employee</option>
              <option th:each="employee : ${employees}"
                      th:value="${employee.id}"
                      th:text="${employee.firstName} + ' ' + ${employee.lastName}">
              </option>
            </select>
            <output th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}" class="text-danger">Employee
              Error
            </output>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('employeeRate.price')}">Employee rate:</label>
          </div>
          <div class="col-sm-9">
            <div class="col-xs-8" style="padding-left: 0">
              <input th:value="*{employeeRate.amount > 0} ? *{employeeRate.amount}"
                     th:id="*{'employeeRate.amount'}" th:name="*{'employeeRate.amount'}"
                     type="number" class="form-control" required="required" min="0" max="2147483647"/>
            </div>
            <div class="col-xs-4" style="padding: 0">
              <select class="form-control" disabled="disabled">
                <option selected="selected" th:value="*{employeeRate.currency}"
                        th:text="*{employeeRate.currency}"/>
              </select>
            </div>
            <output th:if="${#fields.hasErrors('employeeRate.amount')}" th:errors="*{employeeRate.amount}"
                    class="text-danger">Employee rate error
            </output>
          </div>
        </div>
        <div class="form-group" th:if="!${contract.id == null}">
          <div class="col-sm-3">
            <label th:for="${#ids.next('closeDate')}">Close date:</label>
          </div>
          <div class="col-sm-9">
            <input type="date" th:field="*{closeDate}" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('closeType')}">Close type:</label>
          </div>
          <div class="col-sm-9">
            <select th:field="*{closeType}" class="form-control">
              <option value="">Close contract (select type of closing)</option>
              <option th:each="closeTypeValue : ${T(ua.com.foxminded.accountingsystem.model.CloseType).values()}"
                      th:value="${closeTypeValue}"
                      th:text="${closeTypeValue}"/>
            </select>
          </div>
        </div>
      </form>
      <form id="deleteContract" th:action="@{/admin/contracts/{id}(id=${contract.id})}" th:method="delete">
      </form>
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
        <div th:if="!${contract.id == null}" class="btn-group col-md-4 col-sm-4 col-xs-3" role="group" style="padding: 0">
          <button type="submit" class="btn btn-danger btn" onclick="$('#deleteContract').submit()">Delete</button>
        </div>
        <div class="pull-right col-md-8 col-sm-8 col-xs-9" style="padding: 0">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <a th:href="@{/admin/contracts}" class="btn btn-default">Cancel</a>
            </div>
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-primary" onclick="$('#saveContract').submit()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function schedule(selectedValue) {
        alert(selectedValue);
        if (selectedValue == 'POSTPAY'){
          var currentDate = new Date();
          currentDate.setMonth(currentDate.getMonth()+1);
//          Xrm.Page.getAttribute("field").setValue(currentDate);
            document.getElementById('selectedValue').setAttribute('field', currentDate);
        }

    }
  </script>

</section>
</body>
</html>
