<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-6">
        <form th:action="@{/admin/contracts}" th:object="${contract}" method="post">
          <div class="form-group">
            <input type="hidden" th:field="*{id}" />
            <label th:for="${#ids.next('paymentType')}">Payment type</label>
            <select th:field = "*{paymentType}" class="form-control">
              <option th:each="paymentTypeValue : ${paymentTypeValues}"
                th:value="${paymentTypeValue}"
                th:text="${paymentTypeValue}"/>
            </select>
            <label th:for="${#ids.next('contractDate')}">Contract Date</label>
            <input type="date" th:field="*{contractDate}" class="form-control"/><br/>
            <a th:href="@{/admin/orders/{id}(id=${contract.order.id})}"
               th:text="'Order: ' + ${contract.order.orderName} + ' from ' + ${contract.order.openDate}" ></a>
            <select id="employee" th:field="${contract.employee}" class="form-control">
              <option value="">Select Employee</option>
              <option th:each="employee : ${employees}"
                      th:value="${employee.id}"
                      th:text="${contract.employee != null} ? ${contract.employee.firstName} + ${contract.employee.lastName}: ${employee.firstName} + ${employee.lastName}">
              </option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <form th:action="@{/admin/contracts/{id}(id=${contract.id})}" th:method="delete">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a th:href="@{/admin/contracts}" class="btn btn-primary" >Exit</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
