<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag"/>
</head>
<body>
<section layout:fragment="content">
  <!--/*@thymesVar id="contract" type="ua.com.foxminded.accountingsystem.model.Contract"*/-->
  <div class="row">
    <div class="col-md-6">
      <form id="saveContract" class="form-horizontal" th:object="${contract}"
            th:action="@{/admin/contracts/{id}(id=${contract.id})}" th:method="put">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{deal}"/>
        <input type="hidden" th:field="*{employeeRate.id}"/>
        <input type="hidden" th:field="*{employeeRate.currency}"/>
        <div class="form-group">
          <div class="col-sm-3">
            <label for="deal-link">Deal:</label>
          </div>
          <div class="col-sm-9">
            <a id="deal-link" th:href="@{/admin/deals/{id}(id=${contract.deal.id})}"
               th:text="${contract.deal.consultancy.name} + ' from ' + ${contract.deal.openDate}"></a>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('contractDate')}">Contract Date:</label>
          </div>
          <div class="col-sm-9">
            <div th:if="${contract.id == null}" th:remove="tag">
              <input class="form-control datepicker" data-provide="datepicker" th:field="*{contractDate}"/>
            </div>
            <output th:if="${contractSavingError != null}" th:text="${contractSavingError}" class="text-danger">
              Saving error
            </output>
            <div th:if="${contract.id != null}" th:remove="tag">
              <p th:text="${contract.contractDate}"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('paymentType')}">Payment type:</label>
          </div>
          <div class="col-sm-9">
            <div th:if="${contract.id == null}" th:remove="tag">
              <select id="select-payment-type" th:field="*{paymentType}" class="form-control"
                      th:disabled="${contract.id != null}">
                <option value="">Select payment type</option>
                <option th:each="paymentTypeValue : ${T(ua.com.foxminded.accountingsystem.model.PaymentType).values()}"
                        th:value="${paymentTypeValue}"
                        th:text="${paymentTypeValue}"/>
              </select>
              <output th:if="${#fields.hasErrors('paymentType')}" th:errors="*{paymentType}" class="text-danger">Payment
                Type
                Error
              </output>
            </div>
            <div th:if="${contract.id != null}" th:remove="tag">
              <p th:text="${contract.paymentType}"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('paymentDate')}">Payment date:</label>
          </div>
          <div class="col-sm-9">
            <div th:if="${contract.id == null}" th:remove="tag">
              <input id="payment-day" class="form-control datepicker" data-provide="datepicker"
                     th:field="*{paymentDate}" value=""/>
            </div>
            <div th:if="${contract.id != null}" th:remove="tag">
              <p th:text="${(contract.paymentDate) != null ? contract.paymentDate : 'not specified' }"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('price')}">Price:</label>
          </div>
          <div class="col-sm-9">
            <div th:if="${contract.id == null}" th:remove="tag">
              <div class="col-xs-8" style="padding-left: 0">
                <input th:value="*{price.amount > 0} ? *{price.amount}"
                       th:id="*{'price.amount'}" th:name="*{'price.amount'}"
                       type="number" class="form-control" required="required" min="0" max="2147483647"/>
                <input type="hidden" th:field="*{price.id}"/>
              </div>
              <div class="col-xs-4" style="padding: 0">
                <select th:field="*{price.currency}" class="form-control">
                  <option th:each="currencyTypeValue : ${T(ua.com.foxminded.accountingsystem.model.Currency).values()}"
                          th:value="${currencyTypeValue}"
                          th:text="${currencyTypeValue}"/>
                </select>
              </div>
              <output th:if="${#fields.hasErrors('price')}" th:errors="${contract.price}" class="text-danger">Price
                Error
              </output>
            </div>
            <div th:if="${contract.id != null}" th:remove="tag">
              <p th:text="${contract.price.amount} + ' ' + ${contract.price.currency}"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('employee')}">Employee:</label>
          </div>
          <div class="col-sm-9">
            <div th:if="${contract.id == null}" th:remove="tag">
              <!--/*@thymesVar id="employee" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
              <select th:field="*{employee}" class="form-control">
                <option value="">Select Employee</option>
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.firstName} + ' ' + ${employee.lastName}">
                </option>
              </select>
              <output th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}" class="text-danger">Employee
                Error
              </output>
            </div>
            <div th:if="${contract.id != null}" th:remove="tag">
              <p th:text="${contract.employee.firstName} + ' ' + ${contract.employee.lastName}"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label th:for="${#ids.next('employeeRate.price')}">Employee rate:</label>
          </div>
          <div class="col-sm-9">
            <div th:if="${contract.id == null}" th:remove="tag">
              <div class="col-xs-8" style="padding-left: 0">
                <input th:value="*{employeeRate.amount > 0} ? *{employeeRate.amount}"
                       th:id="*{'employeeRate.amount'}" th:name="*{'employeeRate.amount'}"
                       type="number" class="form-control" required="required" min="0" max="2147483647"/>
              </div>
              <div class="col-xs-4" style="padding: 0">
                <select class="form-control" disabled="disabled">
                  <option selected="selected" th:value="*{employeeRate.currency}"
                          th:text="*{employeeRate.currency}"/>
                </select>
              </div>
              <output th:if="${#fields.hasErrors('employeeRate.amount')}" th:errors="*{employeeRate.amount}"
                      class="text-danger">Employee rate error
              </output>
            </div>
            <div th:if="${contract.id != null}" th:remove="tag">
              <p th:text="${contract.employeeRate.amount} + ' ' + ${contract.employeeRate.currency}"/>
            </div>
          </div>
        </div>
        <div id="closeDate" class="form-group" th:if="${contract.closeType != null}">
          <div class="col-sm-3">
            <label th:for="${#ids.next('closeDate')}">Close date:</label>
          </div>
          <div class="col-sm-9">
            <p th:text="${contract.closeDate}"/>
          </div>
        </div>
        <div class="form-group" th:if="${contract.closeType != null}">
          <div class="col-sm-3">
            <label th:for="${#ids.next('closeType')}">Close type:</label>
          </div>
          <div class="col-sm-9">
            <p th:text="${contract.closeType}"/>
          </div>
        </div>
      </form>
      <form id="deleteContract" th:action="@{/admin/contracts/{id}(id=${contract.id})}" th:method="delete">
      </form>
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
        <div th:if="!${contract.id == null}" class="btn-group col-md-4 col-sm-4 col-xs-3" role="group"
             style="padding: 0">
          <button type="submit" class="btn btn-danger btn" onclick="$('#deleteContract').submit()">Delete</button>
        </div>
        <div class="pull-right col-md-8 col-sm-8 col-xs-9" style="padding: 0">
          <div class="btn-group btn-group-justified" role="group" th:if="${contract.id == null}">
            <div class="btn-group" role="group">
              <a th:href="@{/admin/contracts}" class="btn btn-default">Cancel</a>
            </div>
            <div class="btn-group" role="group">
              <button th:if="${contract.id == null}" type="submit" class="btn btn-primary"
                      onclick="$('#saveContract').submit()">Save
              </button>
            </div>
          </div>
          <div th:if="${contract.id != null}" class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <div class="col-md-4">
                <a th:href="@{/admin/contracts}" class="btn btn-default">Go Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div th:if="${payments!= null and !payments.empty}">
        <h3>Payments history</h3>
        <ul id="history-list" class="list-group">
          <div th:each="payment : ${payments}" th:remove="tag">
            <li class="list-group-item">
              <span th:text="${payment.datePaid}"></span>
              <span th:text="': '"></span>
              <span th:text="${payment.sum.amount} + ' ' + ${payment.sum.currency}"></span>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
      $('#select-payment-type').on('change', function () {
        var paymentDay = new Date();
        if (this.value == 'POSTPAY') {
          paymentDay.setMonth(paymentDay.getMonth() + 1);
          paymentDay.setDate(paymentDay.getDate() - 1);
        } else if (this.value == 'TRIAL') {
          paymentDay = null;
        }
        $('#payment-day').datepicker("setDate", paymentDay);
      })
    });
    $('.datepicker').datepicker({
      format: "dd-mm-yyyy",
      todayBtn: "linked",
      clearBtn: true,
      language: "ru",
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true,
      weekStart: 1
    });
    /*]]>*/
  </script>

</section>
</body>
</html>
