<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-search="true" data-query-params="queryParams">
          <thead>
          <tr>
            <th>Contract</th>
            <th>Client</th>
            <th>Service</th>
            <th>Mentor</th>
            <th>Contract date</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="contract : ${contracts}">
            <!--/*@thymesVar id="contract" type="ua.com.foxminded.accountingsystem.model.Contract"*/-->
            <td>
              <a th:href="@{/admin/contracts/{id} (id = ${contract.id})}" th:text="${contract.id}">ID</a>
          </td>
            <td th:text="${contract.order.client.firstName} + ' ' + ${contract.order.client.lastName}"/>
            <td th:text="${contract.order.service.name}"/>
            <td th:text="${contract.employee.firstName} + ' ' + ${contract.employee.lastName}"/>
            <td th:text="${contract.contractDate != null} ? ${#temporals.format(contract.contractDate, 'dd-MMM-yyyy')} : ''"></td>
          </tr>
          </tbody>
        </table>
</section>
</body>
</html>
