<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
</head>
<body>
<section layout:fragment="content">
  <!--/*@thymesVar id="deal" type="ua.com.foxminded.accountingsystem.model.Deal"*/-->
  <!--/*@thymesVar id="client" type="ua.com.foxminded.accountingsystem.model.Client"*/-->
  <!--/*@thymesVar id="consultancy" type="ua.com.foxminded.accountingsystem.model.Consultancy"*/-->
  <!--/*@thymesVar id="consultancies" type="java.util.List<ua.com.foxminded.accountingsystem.model.Consultancy>"*/-->
  <div class="row">
    <div class="col-sm-6 pull-right">
      <div th:if="${errorMessage != null}" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${errorMessage}">Error message</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <form id="saveDeal" class="form-horizontal" th:action="@{/admin/deals}" th:object="${deal}" method="post">
            <input type="hidden" th:field="${deal.id}"/>
            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="client">Client: </label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <label id="client" class="form-control">
                  <input type="hidden" th:field="${deal.client}"/>
                  <a th:href="@{/admin/clients/{id}(id=${deal.client.id})}"
                     th:text="${deal.client.firstName} + ' '  + ${deal.client.lastName}"></a>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="consultancyName">Consultancy:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8" th:if="${deal.consultancy == null}">
                <select id="consultancyName" th:field="${deal.consultancy}" class="form-control">
                  <option value="">Select Consultancy</option>

                  <option th:each="consultancy : ${consultancies}"
                          th:value="${consultancy.id}"
                          th:text="${consultancy.name}"></option>
                </select>
                <output th:if="${#fields.hasErrors('consultancy')}" th:errors="${deal.consultancy}" class="text-danger">
                  Name
                  Error
                </output>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8" th:if="${deal.consultancy != null}">
                <input type="hidden" th:field="${deal.consultancy}"/>
                <output class="form-control" th:text="${deal.consultancy.name}"/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="dealStatus">Status:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <input type="hidden" th:field="${deal.status}"/>
                <output id="dealStatus" class="form-control" th:text="${deal.status}"/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="openDate">Open Date:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <input class="form-control datepicker" data-provide="datepicker" id="openDate"
                       th:field="${deal.openDate}"/>
              </div>
            </div>

            <div class="form-group" th:if="${deal.closeDate != null}">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="closeDate">Close Date:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <input type="hidden" th:field="${deal.closeDate}"/>
                <output id="closeDate" class="form-control" th:text="${deal.closeDate}"/>
              </div>
            </div>
          </form>

          <div class="btn-group btn-group-justified" role="group"
               th:if="${deal.id != null} and ${deal.closeDate == null}">

            <div class="btn-group" role="group" th:if="!${deal.status.toString().equals('ACTIVE')}">
              <a th:href="@{/admin/contracts/new?dealId={id}(id=${deal.id})}" class="btn btn-primary">New contract</a>
            </div>

            <div class="btn-group" role="group"
                 th:if="!${deal.status.toString().equals('WAITING')} and !${deal.status.toString().equals('ACTIVE')}">
              <a th:href="@{/admin/queues/new?dealId={id}(id=${deal.id})}" class="btn btn-primary">Queue</a>
            </div>

            <div class="btn-group" role="group" th:if="${deal.closeDate == null}">
              <a th:href="@{/admin/deals/{id}/refuse(id=${deal.id})}" class="btn btn-warning">Refuse</a>
            </div>

            <div class="btn-group" role="group" th:if="${deal.closeDate == null}">
              <a th:href="@{/admin/deals/{id}/reject(id=${deal.id})}" class="btn btn-warning">Reject</a>
            </div>

            <div class="btn-group" role="group"
                 th:if="${deal.closeDate == null} and ${deal.status.toString().equals('ACTIVE')}">
              <a th:href="@{/admin/deals/{id}/complete(id=${deal.id})}" class="btn btn-primary">Complete</a>
            </div>

            <div class="btn-group" role="group" th:if="${deal.status.toString() !='FROZEN'} and
                ${deal.status.toString() != 'NEW'} and ${deal.status.toString() != 'WAITING'}">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#closeDateModal">Freeze
              </button>
              <div id="closeDateModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Choose freeze date</h4>
                    </div>
                    <form>
                      <div class="modal-body">
                        <input type="hidden" th:field="${deal.id}"/>
                        <input type="date" name="closeDate" th:value="${T(java.time.LocalDate).now()}"/>
                        <button type="submit" class="btn btn-info" formmethod="post" formaction="/admin/deals/freeze">
                          Freeze
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form id="deleteDeal" th:action="@{/admin/deals/{id}(id=${deal.id})}" th:method="delete">
          </form>
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="btn-group col-md-4 col-sm-4 col-xs-3" role="group" style="padding: 0"
                 th:if="${deal.status.toString().equals('NEW')} and ${deal.id} != null">
              <button type="submit" class="btn btn-danger btn" onclick="$('#deleteDeal').submit()">Delete</button>
            </div>
            <div class="pull-right col-md-8 col-sm-8 col-xs-9" style="padding: 0">
              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                  <a th:href="@{/admin/deals}" class="btn btn-default">Go back</a>
                </div>
                <div class="btn-group" role="group">
                  <button type="submit" class="btn btn-primary" onclick="$('#saveDeal').submit()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div th:if="${contracts!= null and !contracts.empty}">
        <h3>Deal history</h3>
        <ul id="history-list" class="list-group">
          <!--/*@thymesVar id="contract" type="ua.com.foxminded.accountingsystem.model.Contract"*/-->
          <div th:each="contract : ${contracts}" th:remove="tag">
            <li class="list-group-item"
                th:if="${contract.closeType != null and contract.closeType == T(ua.com.foxminded.accountingsystem.model.CloseType).FROZEN}">
              <span th:text="${contract.closeDate} +' - Заморозка '"></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договора</a>
            </li>
            <li class="list-group-item"
                th:if="${contract.closeType != null and contract.closeType == T(ua.com.foxminded.accountingsystem.model.CloseType).CHANGE}">
              <span th:text="${contract.closeDate} +' - Смена ментора с новым '"></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договором</a>
            </li>
            <li class="list-group-item"
                th:if="${contract.closeType != null and contract.closeType == T(ua.com.foxminded.accountingsystem.model.CloseType).COMPLETED}">
              <span th:text="${contract.closeDate} +' - Закрытие '"></span>
              <span th:if="${contract.paymentType == T(ua.com.foxminded.accountingsystem.model.PaymentType).TRIAL}"
                    th:text="тестового "></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договора</a>
            </li>
            <li class="list-group-item">
              <span th:text="${contract.contractDate} +' - Старт '"></span>
              <span th:if="${contract.paymentType == T(ua.com.foxminded.accountingsystem.model.PaymentType).TRIAL}"
                    th:text="тестового "></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договора</a>
            </li>
          </div>
          <li class="list-group-item">
            <span th:text="${deal.openDate} +' - Подана заявка на услугу ('"></span>
            <a th:href="@{/admin/consultancies/{id}(id=${deal.consultancy.id})}" th:text="${deal.consultancy.name}"></a>
            <span>)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    /*<![CDATA[*/
    $('.datepicker').datepicker({
      format: "dd-mm-yyyy",
      todayBtn: "linked",
      clearBtn: true,
      language: "ru",
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true,
      weekStart: 1
    });
    /*]]>*/
  </script>
</section>
</body>
</html>
