<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">
        <div id="fixed-table-toolbar--buttons" class="pull-left search">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create
            Employee
          </button>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Employee</h4>
              </div>
              <div class="modal-body">
                <!--/*@thymesVar id="employee" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
                <form th:action="@{/admin/employees/}" th:object="${employee}" method="post">
                  <div class="form-group">
                    <label th:for="firstName">employee first name : </label>
                    <input required="true" type="text" th:field="*{firstName}" th:value="${employee.firstName}"
                           id="firstName" name="firstName" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label for="lastName">employee last name : </label>
                    <input required="true" th:field="${employee.lastName}" th:value="${employee.lastName}"
                           name="lastName" id="lastName" type="text" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label for="maxClients">employee max load : </label>
                    <input required="required" th:field="${employee.maxClients}"
                           id="maxClients" name="maxClients" type="text" class="form-control"/>
                  </div>
                  <button type="submit" class="btn btn-primary">save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-side-pagination="client" data-search="true" data-show-refresh="true"
               data-query-params="queryParams" data-sort-name="id">
          <thead>
          <tr>
            <th data-field="id" data-halign="center" data-align="center" data-sortable="true" class="col-xs-1">id</th>
            <th data-field="name" data-halign="center" data-align="left" data-sortable="true" data-sorter="nameSorter">name</th>
          </tr>
          </thead>
          <tbody>
          <!--/*@thymesVar id="emp" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
          <tr th:each="emp : ${employees}">
            <td>
              <p th:text="${emp.id}">id</p>
            </td>
            <td>
              <a th:href="@{'/admin/employees/'+${emp.id}}">
                <span th:text="${emp.firstName} + ' ' +${emp.lastName}"></span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
</section>
</body>
</html>


