<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="container">
  <div class="row">
  </div>
  <div th:replace="/admin/fragments/leftMenu :: menu"></div>
  <div class="col-md-10">
    <!--/*@thymesVar id="employee" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
    <!--/*@thymesVar id="employeeField" type="ua.com.foxminded.accountingsystem.model.EmployeeField"*/-->
    <form th:object="${employee}" th:action="@{/admin/employee/{id}(id=${employee.id})}" th:method="put">
      <div class="form-group">
        <label for="id">id : </label>
        <p th:text="${employee.id}"  id="id"class="form-control">id</p>
        <div class="form-group">
          <div class="form-group">
            <label for="firstName">first name : </label>
            <input required="required" th:field="*{firstName}" id="firstName" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="lastName">last name : </label>
            <input required="required" th:field="*{lastName}" id="lastName" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="maxLoad">max load : </label>
            <input required="required" th:field="*{maxLoadByStudents}" id="maxLoad" type="text"
                   class="form-control"/>
          </div>
          <button type="submit" class="btn btn-primary">save</button>
        </div>
      </div>
    </form>
    <form th:action="@{/admin/employee/{id}(id=${employee.id})}" th:method="delete">
      <button type="submit" class="btn btn-danger">delete</button>
    </form>
    <a th:href="@{/admin/employees}" class="btn btn-primary">back</a>
  </div>
</div>
</body>
</html>
