<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10">
        <!--/*@thymesVar id="employee" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
        <!--/*@thymesVar id="employeeField" type="ua.com.foxminded.accountingsystem.model.EmployeeField"*/-->

        <table th:if="${employee.id}!=0" data-toggle="table">
          <thead>
          <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <div th:each="employeeField : ${employee.extraFields}">
              <th th:text="${employeeField.field.name}"></th>
            </div>
          </tr>
          </thead>
          <tbody>
            <td>
              <p th:text="${employee.id}">id</p>
            </td>
            <td>
              <p th:text="${employee.firstName}"/>
            </td>
            <td>
              <p th:text="${employee.lastName}"/>
            </td>
            <div th:each="extraFields : ${employee.extraFields}" >
              <!--/*@thymesVar id="extraFields" type="ua.com.foxminded.accountingsystem.model.EmployeeFieldValue"*/-->
              <td th:text="${extraFields.value}"></td>
            </div>
          </tbody>
        </table>


        <form th:if="${employee.id}==0" th:action="@{/admin/employee/}" th:object="${employee}" method="post">

          <div class="form-group">
            <input type="hidden" th:field="*{id}"/>
            <label th:for="employee">employee first name : </label>
            <input required="required" type="text" th:field="*{firstName}" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="lastName">employee last name : </label>
            <input required="required" th:field="*{lastName}" id="lastName" type="text" class="form-control"/>
          </div>
          <button type="submit" class="btn btn-primary">save</button>
        </form>
        <a th:href="@{/admin/employees}" class="btn btn-primary">back</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<!--<div class="form-group">-->
<!--<label for="extaField">employee extraField : </label>-->
<!--<input required="required" th:field="*{extraFields}" id="extraField" type="text" class="form-control"/>-->
<!--</div>-->

<!--<form action="#" th:action="@{/admin/employees/{id}(id=${employee.id})}" th:method="delete" >-->
<!--<button type="submit" id="deleteButton" class="btn btn-danger">Delete</button>-->
<!--</form>-->
<!--<form action="#" th:action="@{/admin/employees/{id}(id=${employee.id})}" th:method="put" >-->
<!--<button type="submit" id="updateButton" class="btn btn-primary">Update</button>-->
<!--</form>-->
