<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10">
        <table data-toggle="table">
          <thead>
          <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="employee : ${employees}">
            <td>
              <p th:text="${employee.id}">id</p>
            </td>
            <!--/*@thymesVar id="employee" type="ua.com.foxminded.accountingsystem.model.Employee"*/-->
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <!--<td>-->
              <!--<a th:href="@{/admin/orders/{id}(id=${order.id})}">Update</a> |-->
              <!--<a th:href="@{/admin/orders/{id}/remove (id=${order.id})}">Remove</a></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</body>
</html>
