<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:text="${title}"></title>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css"/>
  <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet"
        type="text/css"/>
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/orders"><h1>Заявки</h1></a>
          </div>
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/clients"><h1>Студенты</h1></a>
          </div>
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/employees"><h1>Менторы</h1></a>
          </div>
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/contracts"><h1>Договора</h1></a>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/invoices"><h1>Счета</h1></a>
          </div>
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/payments"><h1>Оплаты</h1></a>
          </div>
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/salaries"><h1>Зарплаты</h1></a>
          </div>
          <div class="col-md-3" style="text-align: center">
            <a href="/admin/services"><h1>Услуги</h1></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
