<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: index_demo" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">
  <h1>
    Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>

  <!-- Main content -->
  <div style="padding: 15px">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="ion ion-university"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Active students</span>
            <span style="color: #999;">Today</span>
            <span id="activeStudentCount" class="info-box-number">Loading...</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">New students</span>
            <span style="color: #999;">Month/All Time</span>
            <span id="newStudentsCount" class="info-box-number">Loading...</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="ion ion-ios-snowy"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Frozen Students</span>
            <span style="color: #999;">Month/All Time</span>
            <span id="frozenStudentsCount" class="info-box-number">Loading...</span>

          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="ion ion-ribbon-b"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Graduated Students</span>
            <span style="color: #999;">Month/All Time</span>
            <span id="graduatedStudentsCount" class="info-box-number">Loading...</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- TABLE: STUDENT STATISTICS -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Service Statistics</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <tbody id="serviceStaticticsTbody">
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <!-- /.box-footer -->

        </div>
        <!--/.box-->
      </div>
    </div>
    <!--</div>-->
  </div>

  <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

      $.ajax({
        type: "GET",
        url: "/api/statistics/clients",
        dataType: "json",
        cache: false,
        timeout: 600000,
        success: function(data) {
          $("#activeStudentCount").html(data.activeClients);
          $("#newStudentsCount").html(data.newClientsForLastMonth + "/" + data.allClients);
          $("#frozenStudentsCount").html("-/" + data.frozenClients);
          $("#graduatedStudentsCount").html(data.graduatedClientsForLastMonth + "/" + data.graduatedClients);
        },
        error: function(e) {
          $("#activeStudentCount").html("Error");
          $("#newStudentsCount").html("Error");
          $("#frozenStudentsCount").html("Error");
          $("#graduatedStudentsCount").html("Error");
        }
      });

      $.ajax({
        type: "GET",
        url: "/api/statistics/service",
        dataType: "json",
        cache: false,
        timeout: 600000,
        success: function(data) {
          $.each(data, function (i, stat) {
            var tr = "<tr><td>" + stat.serviceName + "</td>"+
              "<td><div class='sparkbar' data-color='#00a65a' data-height='20'>" + stat.countActiveCases + "</div></td>" +
              "<td><div class='sparkbar' data-color='#00a65a' data-height='20'>" + stat.countFrozenCases + "</div></td>" +
              "<td><div class='sparkbar' data-color='#00a65a' data-height='20'>" + stat.countCompletedCases + "</div></td>" +
              "</tr>\n";
            $("#serviceStaticticsTbody").append(tr);
          });

        },
        error: function(e) {
          $("#serviceStaticticsTbody").append("Error: " + e);
        }
      });

    });
    /*]]>*/
  </script>
</section>
</body>
</html>
