<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag"/>
</head>
<body>
<section layout:fragment="content">
      <div class="col-md-10 display-grid">
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-side-pagination="client" data-search="true" data-show-refresh="true">
          <thead>
          <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Contact ID</th>
            <th>Payment amount</th>
            <th>Payment date</th>
            <th>Payment status</th>
          </tr>
          </thead>
          <tbody th:remove="all-but-first">
          <!--/*@thymesVar id="invoice" type="ua.com.foxminded.accountingsystem.model.Invoice"*/-->
          <tr th:each="invoice : ${invoices}">
            <td>
              <a th:href="@{/admin/invoices/{id} (id = ${invoice.id})}" th:text="${invoice.id}">ID</a>
            </td>
            <td th:text="${invoice.contract.order.client.firstName} + ' ' + ${invoice.contract.order.client.lastName}"/>
            <td th:text="${invoice.contract.id}"></td>
            <td th:text="${invoice.price.currency} + ' ' + ${invoice.price.price}"></td>
            <td th:text="${invoice.contract.paymentType.toString().equals('PREPAY')} ? ${invoice.paymentPeriodFrom} : ${invoice.paymentPeriodTo}"/>
            <td th:text="${invoice.payment != null} ? 'YES' : 'NO'"/>
          </tr>
          </tbody>
        </table>
      </div>
</section>
</body>
</html>
