<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10 display-grid">
        <!--<div id="fixed-table-toolbar&#45;&#45;buttons" class="pull-left search">-->
        <!--<a th:href="@{/admin/invoices/new?contractID=1}" class="btn btn-danger">Create Invoice</a>-->
        <!--</div>-->
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-side-pagination="client" data-search="true" data-show-refresh="true">
          <thead>
          <tr>
            <th>ID</th>
            <th>Invoice</th>
            <th>Creation date</th>
            <th>Contact ID</th>
            <th>Amount due</th>
            <th>Employee paid</th>
            <th>Date from</th>
            <th>Date to</th>
          </tr>
          </thead>
          <tbody th:remove="all-but-first">
          <!--/*@thymesVar id="invoice" type="ua.com.foxminded.accountingsystem.model.Invoice"*/-->
          <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.id}"></td>
            <td>
              <a th:href="@{/admin/invoices/{id} (id = ${invoice.id})}">Invoice</a>
            </td>
            <td th:text="${invoice.creationDate}"></td>
            <td th:text="${invoice.contract.id}"></td>
            <td th:text="${invoice.price.getCurrency()} + ' ' + ${invoice.price.price}"></td>
            <td th:text="${invoice.employeePaid}"></td>
            <td th:text="${invoice.paymentPeriodFrom}"></td>
            <td th:text="${invoice.paymentPeriodTo}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
