<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">
        <table data-toggle="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Invoice</th>
            <th>Creation date</th>
            <th>Employee payment</th>
            <th>Date from</th>
            <th>Date to</th>
          </tr>
          </thead>
          <tbody th:remove="all-but-first">
          <!--/*@thymesVar id="invoice" type="ua.com.foxminded.accountingsystem.model.Invoice"*/-->
          <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.id}"></td>
            <td>
              <a th:href="@{/admin/invoices/{id} (id = ${invoice.id})}">Invoice</a>
            </td>
            <td th:text="${invoice.creationDate}"></td>
            <td th:text="${invoice.isEmployeePayment}"></td>
            <td th:text="${invoice.paymentPeriodFrom}"></td>
            <td th:text="${invoice.paymentPeriodTo}"></td>
          </tr>
          </tbody>
        </table>
</section>
</body>
</html>
