<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag"/>
</head>
<body>
<section layout:fragment="content">
  <table data-toggle="table" data-class="table table-striped table-hover"
         data-pagination="true" data-search="true" data-query-params="queryParams">
    <thead>
    <tr>
      <th>Client</th>
      <th>Consultancy</th>
      <th>Payment from</th>
      <th>Payment to</th>
      <th>Payment type</th>
      <th>Sum</th>
      <th>Create Invoice</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="invoice" type="ua.com.foxminded.accountingsystem.model.Invoice"*/-->
    <tr th:each="invoice : ${invoices}">
      <td th:text="${invoice.contract.deal.client.firstName} + ' ' + ${invoice.contract.deal.client.lastName}"></td>
      <td th:text="${invoice.contract.deal.consultancy.name}"></td>
      <td th:text="${invoice.paymentPeriodFrom}"></td>
      <td th:text="${invoice.paymentPeriodTo}"></td>
      <td th:text="${invoice.contract.paymentType}"></td>
      <td th:text="${invoice.price.amount} + ' ' + ${invoice.price.currency}"></td>
      <td>
        <form th:object="${invoice}">
          <input type="hidden" name="creationDate" th:value="${invoice.creationDate}"/>
          <input type="hidden" name="paymentPeriodFrom" th:value="${invoice.paymentPeriodFrom}"/>
          <input type="hidden" name="paymentPeriodTo" th:value="${invoice.paymentPeriodTo}"/>
          <input type="hidden" name="contract.id" th:value="${invoice.contract.id}"/>
          <button class="btn btn-primary" type="button"
                  th:onclick="'setModalData(\'' + ${invoice.contract.id} + '\', \''
                                                  + ${invoice.contract.deal.client.firstName} + '\', \''
                                                  + ${invoice.contract.deal.client.lastName} + '\', \''
                                                  + ${invoice.contract.deal.consultancy.name} + '\', \''
                                                  + ${invoice.price.amount} + '\', \''
                                                  + ${invoice.price.currency} + '\', \''
                                                  + ${invoice.paymentPeriodFrom} + '\', \''
                                                  + ${invoice.paymentPeriodTo} + '\',  \''
                                                  + ${invoice.creationDate} + '\');'"
                  data-toggle="modal" data-target="#updateDialog" id="updateButton">Create
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <div id="updateDialog" class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">

        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h4 class="modal-title">Confirm invoice</h4>
        </div>

        <div class="modal-body">
          <form id="confirmInvoice" th:action="@{/admin/invoices/issue}" th:object="${invoice}" method="post">
            <input type="hidden" id="contract" name="contract" value=""/>
            <input type="hidden" id="currency" name="price.currency" value=""/>
            <input type="hidden" id="creationDate" name="creationDate" value=""/>

            <div class="col-md-3">
              <label for="student">Client:</label>
            </div>
            <div class="col-md-9">
              <output id="student" value=""/>
            </div>

            <div class="col-md-3">
              <label for="consultancy">Consultancy:</label>
            </div>
            <div class="col-md-9">
              <output id="consultancy" value=""/>
            </div>

            <div class="col-md-3">
              <label for="creationDate">Creation Date:</label>
            </div>
            <div class="col-md-9">
              <output id="creationDate_value" value=""/>
            </div>

            <div class="col-md-3">
              <label for="paymentPeriodFrom">Payment from:</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="date" id="paymentPeriodFrom" name="paymentPeriodFrom" value=""/>
            </div>

            <div class="col-md-3">
              <label for="paymentPeriodTo">Payment to:</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="date" id="paymentPeriodTo" name="paymentPeriodTo" value=""/>
            </div>

            <div class="col-md-3">
              <label for="amount">Sum:</label>
            </div>
            <div class="col-md-5">
              <input type="number" class="form-control" id="amount" name="price.amount" value=""/>
            </div>
            <div class="col-md-4">
              <output id="currency_value" value=""/>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button form="confirmInvoice" class="btn btn-primary" onclick="$('#link').submit()"> Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function setModalData(contractId, firstName, lastName, consultancy, sum, currency, dateFrom, dateTo, creationDate) {
      $('#contract').val(contractId);
      $('#creationDate').val(creationDate);
      $('#creationDate_value').text(creationDate);
      $('#paymentPeriodFrom').val(dateFrom);
      $('#paymentPeriodTo').val(dateTo);
      $('#student').val(firstName + " " + lastName);
      $('#consultancy').val(consultancy);
      $('#amount').val(sum);
      $('#currency').val(currency);
      $('#currency_value').text(currency);
    }
  </script>
</section>
</body>
</html>
