<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <object th:include="admin/fragments/head :: head" th:remove="tag" />
</head>
<body class="skin-yellow fixed sidebar-mini">
<div th:replace="/admin/fragments/header :: nav"></div>
<div th:replace="/admin/fragments/leftMenu :: menu"></div>
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header display-grid" layout:fragment="content">
  </section>
</div>
</body>
</html>
