<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10 display-grid">
        <table data-toggle="table" data-class="table table-striped table-hover"
               data-pagination="true" data-side-pagination="client" data-search="true" data-show-refresh="true">
          <thead>
          <tr>
            <th>id</th>
            <th>View Order</th>
            <th>order Status</th>
            <th>open Date</th>
            <th>queuing Date</th>
            <th>close Date</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order : ${orders}">
            <td>
              <p th:text="${order.id}">id</p>
            </td>
            <!--/*@thymesVar order" type="ua.com.foxminded.accountingsystem.model.Order"*/-->
            <td>
              <a th:href="@{/admin/orders/{id}(id=${order.id})}" th:text="${order.service != null} ? ${order.service.name} : 'Order'"></a>
            </td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.openDate != null} ? ${#temporals.format(order.openDate, 'dd-MMM-yyyy')} : ''"></td>
            <td
              th:text="${order.queuingDate != null} ? ${#temporals.format(order.queuingDate, 'dd-MMM-yyyy')} : ''"></td>
            <td th:text="${order.closeDate != null} ? ${#temporals.format(order.closeDate, 'dd-MMM-yyyy')} : ''"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
