<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
</head>
<body>
<section layout:fragment="content">
  <!--/*@thymesVar id="order" type="ua.com.foxminded.accountingsystem.model.Order"*/-->
  <!--/*@thymesVar id="client" type="ua.com.foxminded.accountingsystem.model.Client"*/-->
  <!--/*@thymesVar id="service" type="ua.com.foxminded.accountingsystem.model.Service"*/-->
  <!--/*@thymesVar id="services" type="java.util.List<ua.com.foxminded.accountingsystem.model.Service>"*/-->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <form id="saveOrder" class="form-horizontal" th:action="@{/admin/orders}" th:object="${order}" method="post">
            <input type="hidden" th:field="${order.id}"/>
            <input type="hidden" th:field="${order.client}"/>
            <input type="hidden" th:field="${order.status}"/>
            <input type="hidden" th:field="${order.openDate}"/>
            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="client">Client: </label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <label id="client">
                  <a th:href="@{/admin/clients/{id}(id=${order.client.id})}"
                     th:text="${order.client.firstName} + ' '  + ${order.client.lastName}"></a>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="serviceName">Service:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <select id="serviceName" th:field="${order.service}" class="form-control">
                  <option value="">Select Service</option>

                  <option th:each="service : ${services}"
                          th:value="${service.id}"
                          th:text="${service.name}"></option>
                </select>
                <output th:if="${#fields.hasErrors('service')}" th:errors="${order.service}" class="text-danger">Name
                  Error
                </output>

              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="orderStatus">Status:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <output id="orderStatus" th:text="${order.status}"/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="openDate">Open Date:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <output id="openDate" th:text="${order.openDate}"></output>
              </div>
            </div>

            <div class="form-group" th:if="${order.closeDate != null}">
              <div class="col-md-2 col-sm-4 col-xs-4">
                <label for="closeDate">Close Date:</label>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-8">
                <output id="closeDate" th:text="${order.closeDate}"/>
              </div>
            </div>
          </form>

          <div class="btn-group btn-group-justified" role="group"
               th:if="${order.id != null} and ${order.closeDate == null}">
            <div class="btn-group" role="group" th:if="!${order.status.toString().equals('ACTIVE')}">
              <a th:href="@{/admin/contracts/new?orderId={id}(id=${order.id})}" class="btn btn-primary">New contract</a>
            </div>
            <div class="btn-group" role="group"
                 th:if="!${order.status.toString().equals('WAITING')} and !${order.status.toString().equals('ACTIVE')}">
              <a th:href="@{/admin/queues/new?orderId={id}(id=${order.id})}" class="btn btn-primary">Queue</a>
            </div>
            <div class="btn-group" role="group" th:if="!${order.status.toString().equals('FROZEN')}">
              <a th:href="@{/admin/orders/{id}/freeze(id=${order.id})}" class="btn btn-info">Freeze</a>
            </div>
            <div class="btn-group" role="group" th:if="${order.closeDate == null}">
              <a th:href="@{/admin/orders/refuse/orderId={id}(id=${order.id})}" class="btn btn-warning">Refuse</a>
            </div>
            <div class="btn-group" role="group" th:if="${order.closeDate == null}">
              <a th:href="@{/admin/orders/reject/orderId={id}(id=${order.id})}" class="btn btn-warning">Reject</a>
            </div>
            <div class="btn-group" role="group"
                 th:if="${order.closeDate == null} and ${order.status.toString().equals('ACTIVE')}">
              <a th:href="@{/admin/orders/complete/orderId={id}(id=${order.id})}" class="btn btn-primary">Complete</a>
            </div>
          </div>

          <form id="deleteOrder" th:action="@{/admin/orders/{id}(id=${order.id})}" th:method="delete">
          </form>
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="btn-group col-md-4 col-sm-4 col-xs-3" role="group" style="padding: 0" th:if="${order.status.toString().equals('NEW')}">
              <button type="submit" class="btn btn-danger btn" onclick="$('#deleteOrder').submit()">Delete</button>
            </div>
            <div class="pull-right col-md-8 col-sm-8 col-xs-9" style="padding: 0">
              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                  <a th:href="@{/admin/orders}" class="btn btn-default">Go back</a>
                </div>
                <div class="btn-group" role="group">
                  <button type="submit" class="btn btn-primary" onclick="$('#saveOrder').submit()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div th:if="${contracts!= null and !contracts.empty}">
        <h3>Order history</h3>
        <ul id="history-list" class="list-group">
          <!--/*@thymesVar id="contract" type="ua.com.foxminded.accountingsystem.model.Contract"*/-->
          <div th:each="contract : ${contracts}" th:remove="tag">
            <li class="list-group-item"
                th:if="${contract.closeType != null and contract.closeType == T(ua.com.foxminded.accountingsystem.model.CloseType).FROZEN}">
              <span th:text="${contract.closeDate} +' - Заморозка '"></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договора</a>
            </li>
            <li class="list-group-item"
                th:if="${contract.closeType != null and contract.closeType == T(ua.com.foxminded.accountingsystem.model.CloseType).CHANGE}">
              <span th:text="${contract.closeDate} +' - Смена ментора с новым '"></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договором</a>
            </li>
            <li class="list-group-item"
                th:if="${contract.closeType != null and contract.closeType == T(ua.com.foxminded.accountingsystem.model.CloseType).COMPLETED}">
              <span th:text="${contract.closeDate} +' - Закрытие '"></span>
              <span th:if="${contract.paymentType == T(ua.com.foxminded.accountingsystem.model.PaymentType).TRIAL}"
                    th:text="тестового "></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договора</a>
            </li>
            <li class="list-group-item">
              <span th:text="${contract.contractDate} +' - Старт '"></span>
              <span th:if="${contract.paymentType == T(ua.com.foxminded.accountingsystem.model.PaymentType).TRIAL}"
                    th:text="тестового "></span>
              <a th:href="@{/admin/contracts/{id}(id=${contract.id})}">договора</a>
            </li>
          </div>
          <li class="list-group-item">
            <span th:text="${order.openDate} +' - Подана заявка на услугу ('"></span>
            <a th:href="@{/admin/services/{id}(id=${order.service.id})}" th:text="${order.service.name}"></a>
            <span>)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
</body>
</html>
