<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Order</title>
  <script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.min.js"></script>
  <script type="text/javascript"
          src="/webjars/bootstrap-table/1.11.1/dist/locale/bootstrap-table-ru-RU.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css"/>
  <!--<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet"-->
  <!--type="text/css"/>-->
  <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"
        type="text/css"/>
  <link href="/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.min.css" rel="stylesheet"
        type="text/css"/>
</head>
<body>
  <div th:replace="/admin/fragments/header :: nav"></div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div th:replace="/admin/fragments/leftMenu :: menu"></div>
        <div class="col-md-6">
          <!--/*@thymesVar id="order" type="ua.com.foxminded.accountingsystem.model.Order"*/-->
          <form action="/admin/orders/create" role="form" method="post">
            <div class="form-group">
              <label for="order_name">New Order</label>
              <textarea rows="1" class="form-control" id="order_name" name="order_name"/>

              <label>Open Date</label>
              <input th:type="temporals"  name="openDate"/><br/>


              <label for="queuingDate">queuingDate</label>
              <input type="date" date-format="dd-MMM-yyyy" id="queuingDate" name="queuingDate"/>

            </div>
            <button type="submit" id="submit1" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
