<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-6">
        <!--/*@thymesVar id="order" type="ua.com.foxminded.accountingsystem.model.Order"*/-->
        <!--/*@thymesVar id="client" type="ua.com.foxminded.accountingsystem.model.Client"*/-->
        <!--/*@thymesVar id="service" type="ua.com.foxminded.accountingsystem.model.Service"*/-->
        <form class="form-horizontal" th:action="@{/admin/orders}" th:object="${order}" method="post">
          <input type="hidden" th:field="${order.id}"/>
          <input type="hidden" th:field="${order.client}"/>

          <div class="form-group">
            <div class="col-sm-4">
              <label for="client">Client: </label>
            </div>
            <div class="col-sm-8">
              <label id="client">
                <a th:href="@{/admin/clients/{id}(id=${order.client.id})}"
                   th:text="${order.client.firstName} + ' '  + ${order.client.lastName}"></a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <!--<label >Service: </label>-->
              <label for="serviceName">Service: </label>
            </div>
            <div class="col-sm-8">
              <select id="serviceName" th:field="${order.service}" class="form-control">
                <option value="">Select Service</option>

                <option th:each="service : ${services}"
                        th:value="${service.id}"
                        th:text="${order.service != null} ? ${order.service.name} : ${service.name}"></option>
              </select>
              <output th:if="${#fields.hasErrors('service')}" th:errors="${order.service}" class="text-danger">Name
                Error
              </output>

            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for="orderStatus">Order Status: </label>
            </div>
            <div class="col-sm-8">
              <select id="orderStatus" th:field="${order.status}" class="form-control">
                <option value="">Select Service</option>
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}"/>
              </select>
              <output th:if="${#fields.hasErrors('status')}" th:errors="${order.status}" class="text-danger">Name
                Error
              </output>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for="openDate">Open Date: </label>
            </div>
            <div class="col-sm-8">
              <input id="openDate" class="form-control" type="date"
                     th:value="${#temporals.format(order.openDate, 'yyyy-MM-dd')}"
                     th:field="${order.openDate}"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for="queuingDate">Queuing Date: </label>
            </div>
            <div class="col-sm-8">
              <input id="queuingDate" type="date" class="form-control"
                     th:value="${order.queuingDate != null} ? ${#temporals.format(order.queuingDate, 'yyyy-MM-dd')} : ''"
                     th:field="${order.queuingDate}"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for="closeDate">Close Date: </label>
            </div>
            <div class="col-sm-8">
              <input id="closeDate" type="date" class="form-control"
                     th:value="${order.closeDate != null} ? ${#temporals.format(order.closeDate, 'yyyy-MM-dd')} : ''"
                     th:field="${order.closeDate}"/><br/>
            </div>
          </div>
          <button type="submit" id="submit" class="btn btn-primary">Save</button>
        </form>
        <form th:action="@{/admin/orders/{id}(id=${order.id})}" th:method="delete">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
