<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/mainTemplate">
<head>
  <object th:include="admin/fragments/head :: bootstrap_table" th:remove="tag" />
</head>
<body>
<section layout:fragment="content">
  <table data-toggle="table" data-class="table table-striped table-hover"
         data-pagination="true" data-side-pagination="queue" data-search="true" data-show-refresh="true">
    <thead>
          <tr>
            <th>id</th>
            <th>Service</th>
            <th>Client</th>
            <th>queuing Date</th>
            <th>Priority</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <!--/*@thymesVar id="queue" type="ua.com.foxminded.accountingsystem.model.OrderQueue"*/-->
          <tr th:each="queue : ${queues}">
            <td>
              <p th:text="${queue.id}">id</p>
            </td>
            <td th:text="${queue.order.service.name}"></td>
            <td th:text="${queue.order.client.firstName} + ' ' + ${queue.order.client.lastName}"></td>
            <td
              th:text="${queue.queuingDate != null} ? ${#temporals.format(queue.queuingDate, 'dd-MMM-yyyy')} : ''"></td>
            <td th:text="${queue.priority}"></td>
            <td>
                <a th:href="@{/admin/contracts/new?orderId={id}(id=${queue.order.id})}">Contract</a> |
                <a th:href="@{/admin/queues/{id}(id=${queue.id})}">Remove</a>
            </td>
          </tr>
          </tbody>
        </table>
</section>
</body>
</html>
