<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10">
        <!--/*@thymesVar id="service" type="ua.com.foxminded.accountingsystem.model.Service"*/-->
        <!--/*@thymesVar id="price" type="ua.com.foxminded.accountingsystem.model.Price"*/-->
        <form th:action="@{/admin/services/save}" th:object="${service}" method="post">
          <div class="form-group">
            <input type="hidden" th:field="*{id}" />
            <label th:for="${#ids.next('serviceName')}">Service name *</label>
            <input required="required" type="text" th:field="*{serviceName}" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="description">Description *</label>
            <input required="required" th:field="*{description}" id="description" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="employeeRate">Employee rate *</label>
            <input required="required" th:field="*{employeeRate.price}" id="employeeRate" type="number" class="form-control"/>
            <input type="hidden" th:field="*{employeeRate.id}" />
            <select th:field="*{employeeRate.currency}" th:remove="all-but-first">
              <option th:each="currency : ${currencies}"
                      th:value="${currency}" th:text="${currency}">currency</option>
            </select>
          </div>
          <label for="prices">Prices *</label>

          <div id="prices">
            <table>
              <tr th:each="price, iterItem : *{prices}">
                <input required="required" type="number" th:field="*{prices[__${iterItem.index}__].price}"/>
                <input type="hidden" th:field="*{prices[__${iterItem.index}__].id}"/>
                <select th:field="*{prices[__${iterItem.index}__].currency}" th:remove="all-but-first">
                  <option th:each="currency : ${currencies}"
                          th:value="${currency}" th:text="${currency}">currency</option>
                </select>
                <br/>
              </tr>
            </table>
          </div>
          <button type="submit" class="btn btn-default">save</button>
        </form>
        <a th:href="@{/admin/services}" class="btn btn-default" >back</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
