<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:text="${title}"></title>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css"/>
  <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet"
        type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <script th:src="@{../../js/login.js}"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Foxminded</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a><span th:text="#{index.greeting} + ', ' + ${#authentication.name}"></span></a>
        </li>
        <li th:if="${#authentication.name} != 'anonymousUser'">
          <a th:href="@{/logout}"><span th:text="#{index.logout}"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6"><a href="/user"><img
            src="http://villageoffaith.org/uploads/6/2/2/8/62282299/1370146_orig.png"
            class="center-block img-responsive"/></a></div>
          <div class="col-md-6"><a href="/admin"><img src="http://bhoovika.in/staff/images/login.gif"
                                                      class="center-block img-responsive"/></a></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-login" th:if="${#authentication.name} == 'anonymousUser'"
             style="display: block;">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">
                  <span th:text="#{index.form.title.login}"></span>
                </a>
              </div>
              <div class="col-xs-6">
                <a href="#" id="register-form-link">
                  <span th:text="#{index.form.title.register}"></span>
                </a>
              </div>
            </div>
            <hr/>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" role="form" th:action="@{/login}" th:method="post">
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control"
                           th:placeholder="#{index.form.placeholder.username}" value=""/>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control"
                           th:placeholder="#{index.form.placeholder.password}"/>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                               class="form-control btn btn-login" th:value="#{index.form.action.login}"/>
                      </div>
                    </div>
                  </div>
                </form>
                <form id="register-form" role="form" th:action="@{/register}"
                      th:method="post" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="username" id="register-username" tabindex="1" class="form-control"
                           th:placeholder="#{index.form.placeholder.username}" value=""/>
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control"
                           th:placeholder="#{index.form.placeholder.email}" value=""/>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="register-password" tabindex="2" class="form-control"
                           th:placeholder="#{index.form.placeholder.password}"/>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4"
                               class="form-control btn btn-register" th:value="#{index.form.action.register}"/>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
