<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body>
<div th:replace="/admin/fragments/header :: nav"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div th:replace="/admin/fragments/leftMenu :: menu"></div>
      <div class="col-md-10">
        <table data-toggle="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Employee rate</th>
              <th>Prices</th>
            </tr>
          </thead>
          <tbody th:remove="all-but-first">
            <tr th:each="service : ${services}">
              <td th:text="${serviceStat.count}"></td>
              <td th:text="${service.serviceName}"></td>
              <td th:text="${service.description}"></td>
              <td th:text="${service.employeeRate.price} + ' ' + ${service.employeeRate.currency}"></td>
              <td>
                <table>
                  <tr th:each="price : ${service.prices}">
                    <td th:text="${price.price} + ' ' + ${price.currency}"></td>
                  </tr>
                </table>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
