<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="menu" class="col-md-2">
  <ul class="list-group">
    <a href="/admin/orders">
      <li class="list-group-item">Заявки</li>
    </a>
    <a href="/admin/students">
      <li class="list-group-item">Студенты</li>
    </a>
    <a href="/admin/employees">
      <li class="list-group-item">Менторы</li>
    </a>
    <a href="/admin/contracts">
      <li class="list-group-item">Договора</li>
    </a>
    <a href="/admin/services">
      <li class="list-group-item">Услуги</li>
    </a>
    <a href="/admin/invoices">
      <li class="list-group-item">Счета</li>
    </a>
    <a href="/admin/payments">
      <li class="list-group-item">Оплаты</li>
    </a>
    <a href="/admin/salaries">
      <li class="list-group-item">Зарплаты</li>
    </a>
    <a href="/admin/users">
      <li class="list-group-item">Пользователи</li>
    </a>
  </ul>
</div>
</body>
</html>
