<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
  <aside class="main-sidebar" th:fragment="menu">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a th:href="@{/admin}">
            <i class="fa fa-th"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-edit"></i> <span>Сделки</span>
            <span class="pull-right-container">
               <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/admin/deals/new}"><i class="fa fa-circle-o"></i> Новые</a></li>
            <li><a th:href="@{/admin/deals}"><i class="fa fa-circle-o"></i> Все</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{/admin/queues}">
            <i class="fa fa-spinner"></i> <span>Очередь</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/clients}">
            <i class="fa fa-user"></i> <span>Клиенты</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/employees}">
            <i class="fa fa-user"></i> <span>Менторы</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/contracts}">
            <i class="fa fa-user"></i> <span>Договора</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/consultancies}">
            <i class="fa fa-table"></i> <span>Услуги</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i>
            <span>Счета</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/admin/invoices}"><i class="fa fa-circle-o"></i> Все</a></li>
            <li><a th:href="@{/admin/invoices/issue}"><i class="fa fa-circle-o"></i> Выставить</a></li>
            <li><a th:href="@{/admin/invoices/debt}"><i class="fa fa-circle-o"></i> Просроченные</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i>
            <span>Зарплаты</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/admin/salary}"><i class="fa fa-circle-o"></i>Зарплата</a></li>
          </ul>
          <ul class="treeview-menu">
            <li><a th:href="@{/admin/salary/payroll}"><i class="fa fa-circle-o"></i>Формирование зарплаты</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{/admin/users}">
            <i class="fa fa-users"></i> <span>Пользователи</span>
          </a>
        </li>
        <li class="header">Отчеты</li>
        <li><a th:href="@{/admin/reports/cashflow}"><i class="fa fa-table"></i> <span>Движение денег</span></a></li>
        <li class="header">Конфигурация</li>
        <li>
          <a th:href="@{/admin/extra-fields}">
            <i class="fa fa-edit"></i> <span>Доп. поля</span>
          </a>
        </li>
      </ul>
    </section>
    <script th:inline="javascript">
      /*<![CDATA[*/
        $(document).ready(function () {
          $(function () {
            var url = window.location.pathname;
            $('.sidebar-menu a[href="' + url + '"]').parentsUntil('.sidebar-menu').addClass("menu-open active");
            $('.sidebar-menu a').filter(function () {
              return this.href.endsWith(url);
            }).parent('li').addClass('active');
          })
        })
      /*]]>*/
    </script>
  </aside>
</body>
</html>
